<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency }}</span>
</div>
<h2>Products</h2>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="price"> Price </label>
    <input id="price" type="number" formControlName="price" />
  </div>
  <div>
    <label for="description"> Description </label>
    <input id="description" type="text" formControlName="description" />
  </div>

  <button class="button" type="submit">Add</button>
</form>
<div *ngFor="let product of listProducts  | async">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
    <p >Price: {{ product.price | currency }}</p>
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <button type="button" (click)="delete(product)">Remove</button>
    <br />
    <br />
    <button type="button" (click)="addToCart(product)">Add to Cart</button>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
  </h3>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
